<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" id="showWelcome" data-bind="click: () => loadRoute('/')">
      <span data-bind="text: brand"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            id="showLeads"
            data-bind="css: { active: getActiveLink('/leads') }, click: () => loadRoute('/leads')"
            >Leads</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            id="showLeads"
            data-bind="css: { active: getActiveLink('/custormers')}, click: () => loadRoute('/custormers')"
            >Customers</a
          >
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#versionModal"
            data-bind="click: getVersionFromAPI"
          >
            Version
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="versionModal"
            tabindex="-1"
            aria-labelledby="versionModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="versionModalLabel">Version</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p data-bind="text: version"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
